.overcast {
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.8); }

.hero-image {
  height: 400px;
  background-position: 50% 60%;
  background-size: cover;
  padding: 0; }
  .hero-image.html-img {
    background-image: url("./html-img.png"); }

table {
  width: 100%;
  border-collapse: collapse;
  display: table;
  table-layout: fixed; }
  table thead th {
    background: #575454;
    position: sticky;
    top: 0;
    font-size: 18.5px;
    padding: 19px 10px;
    line-height: 24px;
    color: white; }
  table tbody td {
    padding: 5px 10px;
    border: 1px solid #888888; }
